name: Quality Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.2'

      - name: Install dependencies
        working-directory: ./Frontend
        run: flutter pub get

      - name: Analyze
        working-directory: ./Frontend
        run: flutter analyze --no-fatal-infos --no-fatal-warnings

      - name: Run tests
        working-directory: ./Frontend
        run: flutter test
